.add-btn{
  width: 30px;
  height: 30px;
}

.task-item{
  position: relative;
  padding: 1em;
  border-bottom: 1px solid #dddddd;
}

.task-item:last-child{
  border-bottom: 0;
}

.task-settings{
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  right: 0;
  top: 0;
  height: 100%;
  align-items: center;
}

.task-settings > svg {
  margin-right: 0.4em;
  cursor: pointer;
}

.task-item:hover{
  background-color: #f5f5f5;
}

.link-item{
  cursor: pointer
}

.pending{
  background-color: #f5f5f5;
  cursor: not-allowed;
}

.pending > div{
  pointer-events: none;
}

svg.link-item{
  margin-left: 0.4em;
}
